<ion-header class="ion-no-border">
  <ion-row class="margin10">
    <ion-col class="flex-center" size="5">
      <img src="/assets/imgs/logoThera.png">
    </ion-col>
    <ion-col class="flex-center" size="5">
      <div class="olaNome">
        Olá, {{ nomeLogado }}
      </div>
    </ion-col>
    <ion-col class="flex-center" size="2">
      <img (click)="sair()" src="/assets/imgs/icoClose.png">
    </ion-col>
  </ion-row>

  <ion-row class="marginTop15">
    <ion-col size="2">
    </ion-col>
    <ion-col class="flex-center marcaHora" size="4">
      {{ diaCorrente }}
    </ion-col>
    <ion-col class="flex-center marcaHora" size="4">
      {{ horaCorrente }}
    </ion-col>
    <ion-col size="2">
    </ion-col>
  </ion-row>

  <ion-row class="padding30">
    <ion-col class="flex-center">
      <span
        class="marginR7 width110 botao"
        [class.btnSel]="botaoSel == 0"
        [class.btnNaoSel]="botaoSel != 0"
        (click)="inserirHorario(0)">
        Cheguei
      </span>
      <span
        class="botao"
        [class.btnSel]="botaoSel == 1"
        [class.btnNaoSel]="botaoSel != 1"
        (click)="inserirHorario(1)">
        fui almoçar
      </span>
    </ion-col>
  </ion-row>

  <ion-row class="marginB20">
    <ion-col class="flex-center">
      <span
      class="marginR7 botao width110"
      [class.btnSel]="botaoSel == 2"
      [class.btnNaoSel]="botaoSel != 2"
      (click)="inserirHorario(2)">
        Voltei
      </span>
      <span
        class="botao width110"
        [class.btnSel]="botaoSel == 3"
        [class.btnNaoSel]="botaoSel != 3"
        (click)="inserirHorario(3)">
        Fui
      </span>
    </ion-col>
  </ion-row>
</ion-header>
<ion-content>
 <app-marca-horario *ngFor="let h of horariosMarcados" [horario]="h"></app-marca-horario>
</ion-content>
