ion-content {
  --background: #1E5084;
}

ion-header {
  background-color: #1E5084;
}

.olaNome {
  color: white;
  font-weight: 700;
  font-size: 22px;
}

.width90 {
  width: 90%;
}

.margin10 {
  margin: 10px;
}

.marginTop10 {
  margin-top: 15px;
}

.marcaHora {
  color: white;
}

.marginR7 {
  margin-right: 15px;
}

.botao {
  border-radius: 6px;
  text-transform: uppercase;
  padding: 10px 12px 5px 12px;
  font-size: 16px;
  text-align: center;
  font-weight: 600;
  border: 2px solid #FCCD2A ;

}

.btnSel {
  color: #1E5084;
  background-color: #FCCD2A;

}

.btnNaoSel {
  background-color: #1E5084;
  color: white;
}

.padding30 {
  padding: 30px 30px 7px 30px;
}

.marginTop5 {
  margin-top: 5px;
}

.width110 {
  width: 110px;
}

.marginB20 {
  margin-bottom: 20px;
}
